<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="card">
    <div class="header">
    
      <div class="avatar">
        <img src="assets/img/glenn.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="card-body">
      
    
    <br>
    <ion-button color="danger">Gmail: Glenn.Urmeneta@evsu.edu.ph</ion-button>
    <br>
    <ion-button color="danger">Phone Number: 0976872364</ion-button>
    <br>
    <ion-button color="danger">Facebook: Glenn Urmeneta</ion-button>
    
  </div>
  
      
</ion-content>





